<table>
  <div class="container">

  <div class="row">
    <% @instaclones.each do |instaclone| %>
      <ul class="col-md-4">
        <% if  instaclone.image.url.nil? %>
          <li>NoImage</li>
        <% else %>
          <li><%= image_tag instaclone.image.url %></li>
        <% end %>
        <li><%= instaclone.content %></li>
        <li>@<%= instaclone.user.name %></li>
        <li><%= link_to '詳細', instaclone_path(instaclone.id) %></li>
        <% if instaclone.user_id == current_user.id %>
          <li><%= link_to '編集', edit_instaclone_path(instaclone.id) %></li>
        <% end %>
        <% if instaclone.user_id == current_user.id %>
          <li><%= link_to '削除', instaclone_path(instaclone.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></li>
        <% end %>
      </ul>
    <% end %>

  </div>

  </div>
</table>
